*.ids
*.iml
*.ipr
*.iws
.csrepo
.gradle
.idea*
build
custom.properties
out
logs
node_modules
.env.development
.env.custom
.settings
.project
*.log
development.env.js
.vagrant
.classpath
cicd/config/vaults
.vscode
vault-*.password
